.oculto
{
    color: white;
}
        
#startButton
{
    position: absolute;
    top: 300px;
    font-size: 30PX;
    width: 100px; 
    height: 50px;
    cursor: pointer;
}

.logo
{
    width: 90px; 
    height: 40px;
    position: absolute;
    top: 2px;
    left: 4px;
}
